{% load static %}

<header class="h-20 bg-white">
  <nav class="relative px-2 py-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{% url 'patients:household_search' %}">
        <img
          src="/static/images/rssb.png"
          alt="Tailwindcss Navigation"
          style="height: 80px; width: 150px;"
        />
      </a>
      {% if request.user.is_authenticated %}
      <ul class="hidden md:flex space-x-6">
        <li><a href="{% url 'patients:household_search' %}">Search</a></li>
        {% comment %}
        <li><a href="{% url 'patients:household' %}">Household</a></li>
        {% endcomment %} {% comment %}
        <li class="flex relative group">
          <a href="#" class="mr-1">Services</a>
          <i class="fa-solid fa-chevron-down fa-2xs pt-3"></i>
          <!-- Submenu starts -->
          <ul
            class="absolute bg-white p-3 w-52 top-6 transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out origin-top shadow-lg"
          >
            <li class="text-sm hover:bg-slate-100 leading-8">
              <a href="#">Webdesign</a>
            </li>
            <li class="text-sm hover:bg-slate-100 leading-8">
              <a href="#">Digital marketing</a>
            </li>
            <li class="text-sm hover:bg-slate-100 leading-8">
              <a href="#">SEO</a>
            </li>
            <li class="text-sm hover:bg-slate-100 leading-8">
              <a href="#">Ad campaigns</a>
            </li>
            <li class="text-sm hover:bg-slate-100 leading-8">
              <a href="#">UX Design</a>
            </li>
          </ul>
          <!-- Submenu ends -->
        </li>
        {% endcomment %} {% comment %}
        <li><a href="{% url 'patients:household_member' %}">Member</a></li>
        {% endcomment %}
        <a href="{%url 'patients:processing'%}" class="block pl-7">
          Pending Treatments
        </a>
      </ul>

      <div class="flex items-center profileShowAndHideDropdown">
        <div class="ml-auto">
          <div class="relative inline-block">
            <button
              class="flex items-center px-4 py-2 text-sm leading-5 font-medium text-gray-700 transition duration-150 ease-in-out rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue active:text-gray-800"
            >
              <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <div
              class="origin-top-right absolute right-24 mt-2 rounded-md shadow-lg hidden contentShowHide"
            >
              <div class="rounded-md bg-white shadow-xs">
                <div class="py-1">
                  <a
                    href="{% url 'patients:records' %}"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-site-green-5 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                  >
                    Records
                  </a>
                </div>
                <div class="border-t border-gray-100"></div>
                <div class="py-1">
                  <a
                    href="{% url 'users:logout'%}"
                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-site-green-5 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"
                  >
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="w-10 h-10 rounded-full"
          src="{% static 'images/profile.svg' %}"
          alt="myProfile"
        />
        <div class="ml-3">
          <p class="text-sm leading-5 font-medium text-gray-900">
            {{request.user.first_name}} {{request.user.last_name}}
          </p>
          <p class="text-sm leading-5 text-gray-500">{{request.user.email}}</p>
        </div>
      </div>

      {% else %}
      <a
        href="{% url 'users:login' %}"
        class="bg-blue-400 px-5 py-1 rounded-3xl hover:bg-blue-500 text-white hidden md:flex"
        role="button"
      >
        Sign In
      </a>

      {% endif %}

      <!-- Mobile menu icon -->
      <button id="mobile-icon" class="md:hidden">
        <i onclick="changeIcon(this)" class="fa-solid fa-bars"></i>
      </button>
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden flex justify-center mt-3 w-full">
      <div id="mobile-menu" class="mobile-menu absolute top-23 w-full">
        <!-- add hidden here later -->
        <ul class="bg-gray-100 shadow-lg leading-9 font-bold h-screen">
          <li
            class="border-b-2 border-white hover:bg-blue-400 hover:text-white pl-4"
          >
            <a href="https://google.com" class="block pl-7">Home</a>
          </li>
          <li
            class="border-b-2 border-white hover:bg-blue-400 hover:text-white pl-4"
          >
            <a href="#" class="block pl-7">News</a>
          </li>
          <li
            class="border-b-2 border-white hover:bg-blue-400 hover:text-white"
          >
            <a href="#" class="block pl-11">
              Services
              <i class="fa-solid fa-chevron-down fa-2xs pt-4"></i>
            </a>

            <!-- Submenu starts -->
            <ul class="bg-white text-gray-800 w-full">
              <li class="text-sm leading-8 font-normal hover:bg-slate-200">
                <a class="block pl-16" href="#">Webdesign</a>
              </li>
              <li class="text-sm leading-8 font-normal hover:bg-slate-200">
                <a class="block pl-16" href="#">Digital marketing</a>
              </li>
              <li class="text-sm leading-8 font-normal hover:bg-slate-200">
                <a class="block pl-16" href="#">SEO</a>
              </li>
              <li class="text-sm leading-8 font-normal hover:bg-slate-200">
                <a class="block pl-16" href="#">Ad campaigns</a>
              </li>
              <li class="text-sm leading-8 font-normal hover:bg-slate-200">
                <a class="block pl-16" href="#">UX Design</a>
              </li>
            </ul>
            <!-- Submenu ends -->
          </li>
          <li
            class="border-b-2 border-white hover:bg-blue-400 hover:text-white pl-4"
          >
            <a href="#" class="block pl-7">About</a>
          </li>
          <li
            class="border-b-2 border-white hover:bg-blue-400 hover:text-white pl-4"
          >
            <a href="{%url 'patients:processing'%}" class="block pl-7">
              Pending Treatments
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
