<style>
  textarea {
    height: 100px;
    width: 200px;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    line-height: 1.25 !important;
    margin-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(229 231 235) !important;
  }
</style>
<!-- prettier-ignore -->
{% extends 'base.html' %} {% block content %} {% load static%} {% load my_filters%}

<section class="text-gray-600 body-font">
  <div class="px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Create An Invoice For Your Patient
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        This invoice is created for the patient
        <span class="text-site-green-2 font-bold">
          {{patient.patient.firstName}} {{patient.patient.lastName}}
        </span>
        who is a
        <span class="text-site-green-2 font-bold">
          {{patient.patient.sex|gender_label}}.
        </span>
      </p>
    </div>
    <div class="">
      <form method="POST" action="" class="">
        {% csrf_token %}
        <div class="flex flex-col md:flex-row justify-center border">
          <div class="flex flex-wrap basis-1/2 border">
            {% for field in invoiceForm %}
            <div class="w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="{{field.id_for_label}}"
              >
                {{field.label_tag}}
              </label>
              {{field}}
              <p class="text-gray-600 text-xs italic">{{ field.errors }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="flex flex-wrap justify-around basis-1/2 border">
            {% for bill in billForm %}
            <div class="w-1/2 px-3 mb-5">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold"
                for="{{bill.id_for_label}}"
              >
                {{bill.label_tag}}
              </label>
              {{bill}}
              <p class="text-gray-600 text-xs italic">{{ bill.errors }}</p>
            </div>
            {% endfor %}
            <div class="w-1/2">
              <input
                type="submit"
                value="Save Invoice"
                class="flex mx-auto bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
