<!-- prettier-ignore -->
{% extends 'base.html' %} {% block content %} {% load static %} {% load my_filters %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex md:flex-row flex-col-reverse">
      <div class="md:w-2/2 lg:w-1/2">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          Family Member
        </h2>       
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Names</span>
          <span class="ml-auto text-gray-900">
            {{member.firstName}} {{member.lastName}}
          </span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">National Id</span>
          <span class="ml-auto text-gray-900">{{member.nationalId}}</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Sex</span>
          <span class="ml-auto text-gray-900">
            {{ member.sex|gender_label }}
          </span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Date of Birth</span>
          <span class="ml-auto text-gray-900">{{member.dob}}</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Payment Status</span>
          <span class="ml-auto text-gray-900">
            <span class="rounded-full border bg-site-green-5 p-2">Cleared</span>
          </span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Email</span>
          <span class="ml-auto text-gray-900">{{member.email}}</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Phone Number</span>
          <span class="ml-auto text-gray-900">{{member.phone}}</span>
        </div>
        <div class="flex justify-end">
          <button
            class="rounded-full w-10 h-10 bg-green-200 p-2 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
          >
            <i class="fa-solid fa-user-gear text-blue-500"></i>
          </button>
          <button
            class="rounded-full w-10 h-10 bg-green-200 p-2 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
          >
            <a href="{% url 'patients:hausehold_authentication' member.pk %}">
              <i class="fa-solid fa-fingerprint text-blue-500"></i>
            </a>
          </button>
        </div>
      </div>
      <div class="md:w-1/2 lg:block hidden">
        <img
          alt="ecommerce"
          class="text-center w-full lg:h-auto h-64 object-cover object-center rounded"
          src="{% static 'images/family.svg' %}"
        />
      </div>
    </div>
  </div>
</section>
{% endblock %}
