<!-- prettier-ignore -->
{% extends 'base.html' %} {% block content %} {% load my_filters %}
<section>
  <div class="flex flex-col text-center w-full my-12">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
      Report of treated Patients
      <i class="fa-solid fa-box-archive"></i>
    </h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
      This is a Report of authentic patients treated by your Health Faculity
    </p>
  </div>
  <div class="flex justify-center">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y text-sm">
        <thead class="bg-gray-100">
          <tr>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Patient
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Chief of the house
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Exams
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Procedures
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Other
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Medicine
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Cost
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Total Amount
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Status
            </th>
            <th
              class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
            >
              Actions
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-500">
          {%for p in invoice %}
          <tr class="">
            <td class="whitespace-nowrap px-4 py-5 font-medium text-gray-900">
              <p>Names: {{p.patient.firstName}} {{p.patient.lastName}}</p>
              <p>DoB:{{p.patient.dob}}</p>
              <p>ID: {{p.patient.nationalId}}</p>
              <p>Sex: {{p.patient.sex|gender_label}}</p>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <p>Chief Id:</p>
              <p>{{p.patient.chief.nationalId}}</p>
              <p>Cat:{{p.patient.chief.healthclass.Class|health_class}}</p>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <div>
                {% autoescape off %} {{p.exams|list_items}} {% endautoescape %}
              </div>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <!-- prettier-ignore -->
              {% autoescape off %} {{p.procedures|list_items}} {% endautoescape  %}
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <!-- prettier-ignore -->
              {% autoescape off %} {{p.others|list_items}} {% endautoescape %}
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <!-- prettier-ignore -->
              {% autoescape off %} {{p.medecines|list_items}} {% endautoescape %}
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-700">
              <p>Consultation Fees: {{p.bill.consultation_fee}}</p>
              <p>Exam Fees: {{p.bill.exams_fee}}</p>
              <p>Procedures Fees: {{p.bill.procedures_fee}}</p>
              <p>Medicine Fees: {{p.bill.medecines_fee}}</p>
              <p>Other Fees: {{p.bill.others_fee}}</p>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-gray-900">
              <p>
                <!-- prettier-ignore -->
                Total:{{ p.bill.total_bill }}
              </p>
            </td>

            <td class="whitespace-nowrap px-4 py-2 text-gray-900">
              <span class="bg-site-green-5 rounded-lg p-1">Completed</span>
            </td>
            <td class="whitespace-nowrap py-2 text-2xl rounded-lg">
              <div class="flex justify-around">
                <div class="text-site-yellow-1">
                  <a href="{% url 'patients:delete_recorded_patient' p.id %}">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </a>
                </div>
                <div class="text-site-green-1"></div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
